.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: transparent;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no repeat 0 0 / cover;
    color: #fff;
    position: absolute;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlayPanel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlayRight {
    right: 0;
    transform: translateX(0);
}

.overlayLeft {
    transform: translateX(-20%);
}

.ghost {
    background: transparent;
    border-color: #ff4b2b;
    background-color: #ff4b2b;
}

.overlayContainer a {
    border-radius: 2rem;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.overlayContainer a:active {
    transform: scale(0.95);
}

.overlayContainer a:focus {
    outline: none;
}

.overlayContainer.active {
    transform: translateX(-100%);
}

.overlayContainer .overlay.active {
    transform: translateX(50%);
}

.overlayContainer .overlayLeft.active {
    transform: translateX(0);
}

.overlayContainer .overlayRight.active {
    transform: translateX(20%);
}
