.formContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.formContainer form {
    background: rgba(45, 52, 54, 1);
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formContainer input {
    background: #eee;
    border: none;
    padding: 1.2rem 1.5rem;
    margin: 0.8rem 0;
    width: 100%;
}

.formContainer button {
    border-radius: 2rem;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.formContainer input[type="text"] {
    width: 24rem;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: "PLay", sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 1rem 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    font-weight: bold;
}

.formContainer input[type="password"] {
    width: 24rem;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: "PLay", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

.formContainer input[type="email"] {
    width: 24rem;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: "PLay", sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 1rem 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    font-weight: bold;
}

.formContainer button:active {
    transform: scale(0.95);
}

.formContainer button:focus {
    outline: none;
}

.formContainer button:disabled {
    background-color: #471911;
}

.formContainer.signInContainer {
    left: 0;
    width: 50%;
    z-index: 2;
}

.formContainer p {
    user-select: none;
}

.signInContainer.active {
    transform: translateX(100%);
}

@media (max-width: 560px) {
    .formContainer input[type="email"] {
        width: 20rem;
        font-size: 1.4rem;
    }

    .formContainer input[type="password"] {
        width: 20rem;
        font-size: 1.4rem;
    }

    .formContainer h1 {
        font-size: 2.2rem;
        white-space: nowrap;
    }

    .formContainer button {
        white-space: nowrap;
    }
}
