.todoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.todoList label {
    display: flex;
    align-items: center;
}

.todoList label input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
}

.todoList label input[type="checkbox"]:checked {
    background-color: #337ab7;
    border-color: #337ab7;
    transition: all 0.3s ease;
}

.todoList label input[type="checkbox"]:checked::before {
    content: "\2713";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #fff;
    background-color: #337ab7;
    border-radius: 50%;
}

.todoList label input[type="checkbox"] + span {
    position: relative;
}

.todoList label input[type="checkbox"] + span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.32rem;
    background-image: linear-gradient(to bottom, #141414 0%, #252525 50%, #141414 100%);
    transform: scaleX(0);
    transform-origin: left;
}

.todoList label input[type="checkbox"]:checked + span::after {
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.todoList label span {
    margin-left: 1rem;
    font-size: 1.6rem;
    word-break: break-all;
}

.todoList .btnWrap {
    flex-shrink: 0;
}

.todoList .btnWrap.putStaus {
    width: 100%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
}

.todoList input[data-testid="modify-input"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin: 0 1rem;
    outline: none;
}

.todoList a[data-testid="modify-button"] {
    padding: 0.5rem 1rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.25);
    color: #000;
}

.todoList a[data-testid="modify-button"]:hover {
    background-color: #ccc;
}

.todoList button {
    padding: 0.5rem 1rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.25);
    color: #000;
}

.todoList button:hover {
    background-color: #ccc;
}

.todoList a[data-testid="delete-button"] {
    padding: 0.5rem 1rem;
    background-color: #ab3c28;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.todoList a[data-testid="delete-button"]:hover {
    background-color: #d03317;
}
